<% if @error_message %>
<%= @error_message %>
<% end %>

<%= form_tag("/login") do %>
<p>メールアドレス</p>
<input name="email" class="form-control" value="<%= @email %>">
<p>パスワード</p>
<input type="password" class="form-control" name="password" value="<%= @password %>">
<input type="submit" class="btn btn-info" value="ログイン">
<% end %>