<div class="container login">
<% if @error_message %>
<div class="mt-5">
<%= @error_message %>
</div>
<% end %>
<%= form_tag("/login") do %>
<p>メールアドレス</p>
<input name="email" class="form-control" value="<%= @email %>">
<p>パスワード</p>
<input type="password" class="form-control" name="password" value="<%= @password %>">
<input type="submit" class="btn btn-info mt-3" value="ログイン">
<% end %>
</div>