// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.alert-class {
  margin-top: 4rem;
}
// index
.posts-index{
  &__jumbotron {
    height: 400px;
    background: url(bg3.jpg) center no-repeat;
    background-size: cover;
    object-fit: cover;
  }
  &__star {
    width: 25px;
    height: auto;
  }
  &__title {
    color: #fff;
  }
  &__name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &__image {
    height: 200px;
    object-fit: cover; 
  }
  &__body {
    height: 320px;
  }
  &__text {
    position: relative;
    width: 100%;
    height: 90px;
    overflow: hidden;
  }
  &__recommend {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
// show
.posts-show {
  &__image {
    width: 520px;
    height: 300px; 
    max-width: 100%;
    object-fit: cover;
  }
  &__star {
    width: 50px;
    height: auto;
  }
  &__contributor {
    margin-bottom: 10px;
    span {
      margin-right: 10px;
    }
  }
  &__user {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
  }
}
.like-btn {
  color: #8899a6;
}

.like-btn-unlike {
  color: #ff0682;
}

// new
.star-rating {
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  width:150px;
  height: 30px;
  overflow: hidden;
  position: relative;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}
.star-rating i {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;
  z-index: 1;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}
.star-rating__item {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}
.star-rating__item:hover + i,
.star-rating__item:checked + i {
  opacity: 1;
}
.star-rating i ~ i {
  width: 40%;
}
.star-rating i ~ i ~ i {
  width: 60%;
}
.star-rating i ~ i ~ i ~ i {
  width: 80%;
}
.star-rating i ~ i ~ i ~ i ~ i {
  width: 100%;
}

// 投稿編集ページ
.posts-edit {
  margin-top: 5rem;
}

// コメント投稿
.comment-new {
  margin-top: 5rem;
}
// コメント編集
.comment-edit {
  margin-top: 5rem;
}