// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.users-show {
  &__jumbotron {
    margin-top: 30px;
  }
  &__image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
  }
  &__body {
    height: 320px;
  }
  &__text {
    position: relative;
    width: 100%;
    height: 95px;
    overflow: hidden;
  }
}

// 新規登録ページ
.users-new {
  margin-top: 5rem;
}

// ログインページ
.login {
  margin-top: 5rem;
}

// ユーザー編集ページ
.users-edit {
  margin-top: 5rem;
}